/* JAIME'S COLORS & UNICODES */

#elizaw {
  --unicode:'\a92';
  --main: 241, 196, 15;
  --alt: 236, 112, 99;
  }

#daphneb {
  --unicode:'\a25';
  --main: 244, 208, 63;
  --alt: 187,143,206;
}

#gogoc {
  --unicode:'\ec01';
  --main: 171,235,198;
  --alt: 51, 153, 204; 
}

#stellam {
  --unicode:'\ec02';
  --main: 236, 176, 214;
  --alt: 102, 51, 102;
 ;
}

#sadiea
{
  --unicode:'\a67';
  --main: 255, 153, 102;
  --alt: 255, 153, 204;
}

#dorianj {
  --unicode:'\a118';
  --main: 201, 204, 63;
  --alt: 42, 170, 138;
 }

#maatib {
  --unicode:'\a119';
  --main: 194, 82, 90;
  --alt: 140, 54, 78;
}
