.lovedrug-wrapper {
  position: relative;
  margin: 25px auto;
  width: 400px;
  padding: 0px 0px 50px 0px;
  background: #f8f9f9;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 7px #e9e9e9;
}

.lovedrug-wrapper b {
  font-weight: 800;
  color: var(--main);
}

.lovedrug-wrapper a {
  font-size: 14px;
  font-family: poppins;
  font-weight: 800;
  line-height: 16px;
  color: var(--main);
  text-decoration: underline var(--main);
}

.lovedrug-wrapper hr {
  height: 1px;
  border: 0px;
  margin: 25px 0px;
  background-color: #e9e9e9;
}

.lovedrug-top {
opacity: .9;
width: 400px; 
height: 65px;
margin-top: 0px;
border-radius: 0px 0px 0px 0px; 
border-bottom: 2px solid;
border-color: var(--main);
z-index: 2;
}

.lovedrug-post {
  position: relative;
  width: 325px;
  margin: 50px 15px 0px 15px;
  padding: 20px 25px 25px 25px;
  background: #f8f9f9;
  font-size: 14px;
  line-height: 20px;
  font-family: poppins;
  font-weight: 400;
  color: #566573;
  overflow: auto;
  white-space: pre-wrap;
  text-align: justify;
}

.lovedrug-bottom {
position: absolute;
font-size: 14px;
text-transform: lowercase;
font-family: poppins; 
background-color: var(--main);
background-image: linear-gradient(45deg, var(--main), var(--accent));
text-transform: uppercase;
opacity: .8;
width: 400px; 
height: 100px;
padding: 0px 0px 0px 0px;
border-radius: 0px 0px 0px 0px; 
z-index: 2;
}

.lovedrug-circlelarge {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 150px;
  margin-top: 10px;
  background-color: #f8f9f9;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--main);
  opacity: 1;
  z-index: 3;
}

.lovedrug-title {
text-transform: lowercase;
font-family: poppins; 
color: var(--main); 
font-weight: 800;
padding: 20px 25px 0px 25px;  
}

.lovedrug-bubble {
float: left;
background: #f8f9f9; 
padding: 3px 3px 3px 3px; 
border-radius: 10px;
margin: 8px 10px 10px 30px;
width: auto;
}

.lovedrug-date {
float: right;
font-family: metrophobic;
color: #f8f9f9; 
padding: 5px 5px 5px 5px; 
border-radius: 10px;
margin: 8px 30px 10px 0px;
width: auto;
background-color: var(--accent);
background-image: linear-gradient(45deg, var(--accent), var(--main));
text-transform: uppercase;
}

.lovedrug-bubble a {
  font-size: 14px;
  font-family: metrophobic;
  font-weight: 800;
  line-height: 16px;
  color: var(--main);
  text-decoration: none;
}

/*elysium colors & characters */
#stevie {--main: #52009D; --accent: #BC90DB;}